<?xml version="1.0" encoding="UTF-8"?>
<!-- This file is used for configuring DBMS and File System connections -->
<UGC>
	<FormKey>attachment</FormKey>
	<Server>localhost</Server>
	<Database>test</Database>
	<Table>SubmittedFiles</Table>
	<Column1>fileName</Column1>
	<User>root</User>
	<Password>root</Password>
	<UploadedDirectory>/Users/Yuan/Desktop/</UploadedDirectory>
	<UploadedMaxSize>2100000</UploadedMaxSize>
	<UploadedNameEncoding>euc-jp</UploadedNameEncoding>
	<!-- '.jpeg' adds it to 50 -->
	<UploadedNameLength>45</UploadedNameLength>
	<Thumbnail>thumbnail_</Thumbnail>
	<LoggingFile>/Users/Yuan/Desktop/submit.log</LoggingFile>
	<!-- directory where skin templates are located -->
	<SkinTemplateDirectory>/Users/Yuan/Desktop/skins/</SkinTemplateDirectory>
	<!-- Datoutie file name-->
	<DttFileName>candv</DttFileName>
	<!-- Compressed skin directory suffix-->
	<CompressedSkinPackageSuffix>bts</CompressedSkinPackageSuffix>
</UGC>